html, body {
	font: normal 16px Arial, sans-serif;
}

nav {
	padding: 15px;
}

main {
	max-width: 980px;
	margin: 5% auto;
}

.input-wrapper {
	margin: 1rem 0;
}

footer {
	text-align: center;
	margin-top: 3rem;
}